*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #dfe9f5;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 1500px;
    padding: 30px;
}
.about{
    height: 100%;
    width: 500px;
    background-color: #1b3f61;
    min-height: 100vh;
}
.details{
    height: 100%;
    width: 1500px;
    background-color: #d3cccc;
    min-height: 100vh;
}
.image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgb(253, 253, 253);
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    margin-top: 15px;
}
.divider{
    border: 1px solid rgb(37, 37, 37);
    width: 250px;
    margin-top: 8px;
}
.contact-info{
    padding: 18px;
}
.icon{
    display: flex;
    gap: 10px;
    padding: 8px;
}
.icon p{
    color:#a19f9f;
    font-weight: 700;
}
.icon i{
    color: #ffbb00;
}
.basic-info{
    padding: 18px;
}
.information{
    display: flex;
    padding: 5px;
    gap: 10px;
}
.information p{
    color:#a19f9f;
    font-weight: 700;
}
.placement{
    padding: 18px;
}
.about-me{
    margin-top: 60px;
    padding: 0 30px;
}

.table-content{
    width: 50%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}